

.header
{
  position: relative;
  height: 4rem;
  background-color: var(--yellow);
  margin: 1rem 1rem 0rem 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.header-titles
{
  height: 4rem;
}

.header-title
{
  color: var(--blue);
  padding-top: 0.25rem;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 3rem;
  letter-spacing: -0.065em;
  text-transform: uppercase;
}

.header-title-2
{
  color: var(--black);
  padding-top: 1.5rem;
  font-size: 2.25rem;
  font-style: normal;
  line-height: 2.75rem;
  letter-spacing: -0.05em;
}


.header-content
{
  bottom: -2rem;
  position: absolute;
  display: grid;
  height: 2rem;
  width: 100%;
  grid-template-columns: [first] auto [line1] 4rem [line2] 1rem [end];

}

.header-navigation
{
  justify-self: start;
  align-self: end;
  grid-column-start: first;
  grid-column-end: line1;
}

.header-triangle
{
  
  justify-self: center;
  grid-column-start: line1;
  grid-column-end: line2;
  width: 0;
  height: 0;
  border-left: 0.9rem solid transparent;
  border-right: 0.9rem solid transparent;
  border-top: 1.4rem solid var(--yellow);
  
}