html body 
{
  margin: 0;
  width: 100%;
  height: 100%;
}

body 
{
  background:#050505;
}

.fixed-top
{
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed-bottom
{
  position: fixed;
  bottom: 0;
  width: 100%;
}