@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('home.css');


/*VARIABLES*/
:root
{
  --black: #050505;
  --yellow: #FEBD02;
  --blue: #01A1FD;
  --white: #FAF7F7;
  --secWhite: rgba(250, 247, 247, 0.7);
}

html, body 
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html
{
  background:var(--black);
}


body 
{
  font-family: 'Livvic', sans-serif;
  font-style: normal;
  background:var(--black);
  background-image: url('../images/Burger_Background_2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -130%;
  background-position-y: 55%;
  background-size: 140%;
  
}


h1
{
  color: var(--white);
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
}

h4
{
  color: var(--secWhite);
  font-size: 2rem;
  line-height: 1.9rem;
  letter-spacing: -0.05em;
}

h5
{
  font-style: normal;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: -0.065em;
  color: var(--secWhite);
}

h6
{
  color: var(--secWhite);
  font-size: 0.75rem;
  line-height: 0.75rem;
  letter-spacing: 0em;
}

.btn
{
  color: var(--black);
  background-color: var(--yellow);
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-style: none;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.065em;
  text-transform: uppercase;
}

