extends index 

block home
  div.container-fluid
    div.row.align-items-center(style='min-height: 95dvh')
      div.col-7
        div
          h1.text-center #{aboutUsContent.title}
          h1.text-end(style='margin: -0.75rem 1rem 1rem 0rem') #{aboutUsContent.subTitle}
          .container-fluid.p-0
            each Hrs, Day in aboutUsContent.body.week 
              div.row.dayDisplay
                .col.p-0
                  h5.day= Day  
                .col.p-0
                  h5.time= Hrs
        