extends index 

block home
  div.container-fluid
    div.row.align-items-center(style='min-height: 70dvh')
      div.col-7
        div.text-center
          h1.text-center #{title}
          h1.text-end(style='margin: -0.75rem 1rem 0rem 0rem') #{secTitle}
          br 
          .container-fluid 
            div.row
              .col
                h5.day Montag
              .col 
                h5.time 17:00 - 21:00
        