extends ../layout

block title 
  div.header-titles.d-flex.flex-row.gap-3.justify-content-center 
    div 
      h1.header-title Blue 
    div.align-self-center 
      h1.header-title-2 Burger


block nav 
  .d-flex.flex-row.gap-4
    div
      h6 
        a(href='/') Home
    div 
      h6 
        a(href='/aboutUs') Über uns
    div 
      h6 
        a(href='/contact') Kontakt


block content 
  block home
    