extends ../layout

block title 
  div.header-titles.d-flex.flex-row.gap-3.justify-content-center 
    div 
      h1.header-title Blue 
    div.align-self-center 
      h1.header-title-2 Burger


block nav 
  .d-flex.flex-row.gap-4
    div
      h2 Home 
    div 
      h2 Über uns 
    div 
      h2 Kontakt 


block content
  div.container-fluid
    div.row.align-items-center(style='height: 95dvh')
      div.col-7 
        block home
    